## OS x
.DS_Store

## Eclipse IDE
bin/
temp/
.metadata
*.tmp
.settings/
local.properties

##VS Code IDE
.vscode
.code-workspace

##IntelliJ IDE
.idea
out/

##Netbeans
build/
nbbuild/
dist/
nbproject/

## General Files
*.class
*.war
*.log
/target/
hs_err_pid*
.project
.classpath
.impl
